.like-button {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffb6c1;
    border: none;
    font-size: 1.5rem;
}

.like-button:hover {
    color: #f1e5e6;
    cursor: pointer;
}
