.like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffb6c1;
    border: none;
    padding: 1.1rem 1rem;
    border-radius: 4px;
    font-size: 1.5rem;
}

.like-button:hover {
    color: #f1e5e6;
    cursor: pointer;
}

.like-button > span {
    margin-left: 8px;
}
