.reddit-card {
    background-color: #65486c;
    width: 100%;
    margin-left: 10%; /* Add margin between the cards */
    margin-top: 2rem;
    border-radius: 20px;
}

.avatar {
    width: 9rem;
    height: 9rem;
}