.sc-button {
    color: snow;
    cursor: pointer;
    background-color: #503252;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: -15%;
    margin-top: 4%;
    align-self: center;
}

.code-textfield {
    margin-top: 1vh;
    width: 40%;
    height: 20%;
    font-size: large;
    color: #f387f3;
    user-select: none;
    overflow: auto;
    background-color: #2b334b;
    border-radius: 25px;
}

.code-title {
    color: #f387f3;
    margin-top: 1vh;
}

.field-signin-reset {
    margin-top: 1vh;
    font-size: large;
    color: #f387f3;
    user-select: none;
    overflow: auto;
    width: 70%;
    max-width: 100%;
    background-color: #2b334b;
    border-radius: 25px;
}