/* The modal container */
.modal {
 /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;/* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

/* Modal content */
.modal-content {
    flex-grow: revert;
    background-color: #151a26;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;/* Could be more or less, depending on screen size */
    height: 70%
}

.title {
    color: #f387f3;
    align-self: center;
    alignment: center;
    position: center;
    align-content: center;
    align-items: center;
}


.field-signin {
    margin-top: 1vh;
    align-self: center;
    right: 1rem;
    font-size: large;
    color: #f387f3;
    user-select: none;
    overflow: auto;
    width: 100%;
    max-width: 95%;
    background-color: #2b334b;
    border-radius: 25px;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #d9d6d6;
    text-decoration: none;
    cursor: pointer;
}
