.card-holder-vertical-layout {
    width: 100%;
    background-color: #0f131a;
}


.margin-bottom {
    margin-bottom: 20px;
}

.register-button {

}

.image {
    max-width: 100%;
    height: auto;
}

.text {
    color: #f387f3;
    width: 100%;
    max-width: 95%;
    align-self: center;
}

.tip {
    color: #f387f3;
    font-size: small;
    padding-left: 1rem;
}

.ca-button {
    color: snow;
    margin-top: 2%;
    cursor: pointer;
    background-color: #503252;
    border-radius: 25px;
}