.card-status {
    background-color: #65486c;
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.likes {
    color: #ffb6c1;
    padding: 0 5.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}