.card-holder-vertical-layout {
    background-color: #0f131a;
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin {
    margin: 0 0 0 11em;
}

.margin-mobile {
    margin: 0 0 0 2em;
}