.card-status {
    background-color: #65486c;
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.likes {
    color: #ffb6c1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0 auto auto 0.5em;
}
.subreddit {
    color: #ffb6c1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: auto auto auto 0.5em;
}

.hr {
    border-top: 1px solid #ffb6c1;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
.new-video{
    color:#ffb6c1;
    display: flex;
    font-size: smaller;
    align-items: center;
    justify-content: center;
}