
.category {
    width:100%;
    height: 50%;
    background-color: #283048;
    color:whitesmoke;
    cursor: pointer;
    border-radius: 20px;
}
.selected-category {
    width:100%;
    height: 50%;
    background-color: whitesmoke;
    color:#283048;
    cursor: pointer;
    border-radius: 20px;
}

.category-text{
    display: inline-block;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}