

.context-holder-vertical-layout {
    background-color: #0f131a;
    height: 100%;
}

.context-holder-horizontal-layout {
    background-color: #0f131a;
    width: 100%;
}

.big-div {
    width: 100%;
    background-color: #0f131a;
}