.sb-button {
    margin-top: 12px;
    border-radius: 25px;
    color: snow;
    width: 95%;
    background-color: #3b3b3b;
}

.sb-expand{
    height: 100%;
    background-color: #151a26;
    width: 11rem;
    position: fixed;
    z-index: 2;
}

.sb-collapse {
    height: 100%;
    background-color: #151a26;
    width: 1.9rem;
    position: fixed;
    z-index: 2;
}

.mobile {
    z-index: 100;
}


.sb-button:hover {
    cursor: pointer;
}

.margin-left {
    margin-left: 1vh;
}

.category-title {
    margin-top: 1vh;
    font-size: large;
    color: #f387f3;
    user-select: none;
    overflow: auto;
}