
.topbar-buttons {
    border-radius: 30%;
    color: snow;
    cursor: pointer;
    height: fit-content;
}

.topbar-right-buttons {
    margin-left: auto;
    margin-right: 1%;
    height: fit-content;
}
.topbar-right-button {
    border-radius: 20%;
    height: fit-content;
    color: snow;
    cursor: pointer;
}

.tb {
    background-color: #65486c;
    height: 2.4rem;
    width: 100%;
    position:fixed;
    z-index:9999;
}

.menubars {
    padding-top: 0.4vh;
    margin-left: 1vh;
    width: 2em;
    color: snow;
    height: auto;
}

.menubars-disabled {
    pointer-events: none;
}

.menubars:hover {
    background-color: #575252;
    border-radius: 30%;
    cursor: pointer;
}
